<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <!--<h2 class="footer-heading">{{ site.title | escape }}</h2>-->

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
            </li>
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

      <!--
      <div class="footer-col footer-col-3">
        <p>{{- site.description | escape -}}</p>
      </div>
      -->
    </div>

  </div>
    <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
        <tr>
            <td style="padding:0px;border:none;border-collapse:collapse">
                <p style="text-align:center;font-size:small;">
                Design and source code, in part, from <a style="font-size:small;" href="https://jonbarron.info">Jon Barron's website</a>
                </p>
            </td>
        </tr>
    </table>
</footer>
