---
layout: default
title: Home
permalink: /home/
---

<head>
    <title>{{ site.name }}</title>

    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

    <meta name="author" content="{{ site.name }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <table style="width:100%;max-width:800px;border:none;border-spacing:0px;border-collapse:collapse;margin-right:auto;margin-left:auto;">
        <tr style="padding:0px">
            <td style="padding:0px;border:none;border-collapse:collapse">
                <!--Top section (name + bio)-->
                <table style="width:100%;border:none;border-spacing:0px;border-collapse:collapse;margin-right:auto;margin-left:auto;">
                    <tr style="padding:0px">
                        <td style="padding:2.5%;width:60%;vertical-align:middle;border:none;border-collapse:collapse">
                            <h1 style="text-align: center">
                                Shehryar Malik
                            </h1>
                            <p style="text-align:justify">
                            I am a Master's student of Computer Science at <a href="https://lums.edu.pk/" target="_blank">LUMS</a>. My thesis, advised by <a href="https://scholar.google.com.pk/citations?user=Gk3G9N0AAAAJ&hl=en" target="_blank">Dr. Murtaza Taj</a>, focusses on using reinforcement learning to efficiently prune neural networks. In parallel, I am also working with <a href="https://scholar.google.com/citations?user=2mnOtm8AAAAJ&hl=en" target="_blank">Dr. Ali Ahmed</a> at <a href="http://cactus.itu.edu.pk/" target="_blank">CACTuS Lab</a> on constrained reinforcement learning.</p>
                            <p style="margin-top: -9px; text-align:justify;">I am interested in all things RL.</p>
                            <p style="text-align:center">
                            <a class="u-email" href="mailto:{{ site.email }}">Email</a></li> &nbsp;/&nbsp;
                        <a href="https://github.com/{{site.github_username}}">GitHub</a> &nbsp;/&nbsp;
                        <a href="https://scholar.google.com/citations?hl=en&user=T024XV0AAAAJ">Google Scholar</a> &nbsp;/&nbsp;
                        <a href="https://www.linkedin.com/in/{{site.linkedin_username}}"> LinkedIn </a>
                            </p>
                        </td>
                        <td style="padding:2.5%;width:30%;max-width:30%;border:none;border-collapse:collapse">
                            <img style="width:100%;max-width:100%" alt="profile photo" src="{{site.baseurl}}/assets/me.jpeg">
                        </td>
                    </tr>
                </table>

                <br>
                <br>
                <br>

                <!--List all theses-->
                <h2>Theses</h2>
                <!--ICRL-->
                <table style="width:100%;border:none;border-spacing:0px;border-collapse:collapse;margin-right:auto;margin-left:auto;">
                    <tr>
                        <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px;border:none;border-collapse:collapse">
                            <img src="{{site.baseurl}}/assets/theses/fyp/images/CONV-BLSTM-CTC.png" alt="project image" style="width:auto; height:auto; max-width:100%;"/>
                        </td>
                        <td style="padding:2.5%;width:75%;vertical-align:middle;border:none;border-collapse:collapse">
                            <h3>Urdu Handwriting Recognition using Deep Learning</h3>
                            <br>
                            <em>Senior Project, 2019</em>
                            <br>
                            Advisor: <a href="https://scholar.google.com/citations?user=vIqQl1kAAAAJ&hl=en" target="_blank">Dr. Ubaid Ullah Fayyaz</a>
                            <br>
                            <a href="{{site.baseurl}}\assets\theses\fyp\pdfs\FYP-Thesis.pdf">thesis</a> / 
                            <a href="{{site.baseurl}}\assets\theses\fyp\pdfs\FYP-Paper.pdf">paper</a> / 
                            <a href="https://github.com/shehryar-malik/Urdu-Handwriting-Recognition-using-Deep-Learning">code</a> / 
                            <a href="{{site.baseurl}}{% post_url theses/2019-12-26-sp %}">blog</a>
                            <br>
                            <br>
                        </td>
                    </tr>
                </table>

                <!--List all publications-->
                <h2>Research</h2>
                <br>
                <p style="font-size:small;">* denotes equal contribution</p>
                <!--ICRL-->
                <table style="width:100%;border:none;border-spacing:0px;border-collapse:collapse;margin-right:auto;margin-left:auto;">
                    <tr>
                        <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px;border:none;border-collapse:collapse">
                            <img src="{{site.baseurl}}/assets/papers/icrl.png" alt="project image" style="width:auto; height:auto; max-width:100%;"/>
                        </td>
                        <td style="padding:2.5%;width:75%;vertical-align:middle;border:none;border-collapse:collapse">
                            <h3>Inverse Constrained Reinforcement Learning</h3>
                            <br>
                            <em>Usman Anwar*, <b>Shehryar Malik*</b>, Alireza Aghasi, Ali Ahmed</em>
                            <br>
                            ICML, 2021
                            <br>
                            <a href="https://arxiv.org/abs/2011.09999">paper</a> /
                            <a href="https://github.com/shehryar-malik/icrl">code</a>
                            <br>
                            <p style="text-align:justify;">Automatically infer arbitrary Markovian constraints from data.</p>
                        </td>
                    </tr>
                </table>
                <!--PDE-GAN-->
                <table style="width:100%;border:none;border-spacing:0px;border-collapse:collapse;margin-right:auto;margin-left:auto;">
                    <tr>
                        <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px;border:none;border-collapse:collapse">
                            <img src="{{site.baseurl}}/assets/papers/pde-gan.png" alt="project image" style="width:auto; height:auto; max-width:100%;"/>
                        </td>
                        <td style="padding:2.5%;width:75%;vertical-align:middle;border:none;border-collapse:collapse">
                            <h3>Learning To Solve Differential Equations Across Initial Conditions</h3>
                            <br>
                            <em><b>Shehryar Malik*</b>, Usman Anwar*, Ali Ahmed, Alireza Aghasi</em>
                            <br>
                            ICLR DeepDiffEq Workshop, 2020
                            <br>
                            <a href="https://arxiv.org/abs/2003.12159">paper</a>
                            <br>
                            <p style="text-align:justify;">Train neural networks to solve PDEs for multiple initial conditions.</p>
                        </td>
                    </tr>
                </table>

            </td>
        </tr>
    </table>
</body>

</html>
