---
layout: default
title: Home
permalink: /home/
---

<div class="home">
   <img style="padding-left: 15px; width:200px;height:200px; float: right;" src="{{site.baseurl}}/assets/me.jpg", style="">

   <p style="text-align:justify;">My name is Shehryar Malik. I am currently pursuing a Master's degree in CS from <a href="https://lums.edu.pk/" target="_blank">LUMS</a>. I am also working as a Research Assistant for <a href="https://scholar.google.com/citations?user=2mnOtm8AAAAJ&hl=en" target="_blank">Dr. Ali Ahmed</a> at <a href="http://cactus.itu.edu.pk/" target="_blank">CACTuS Lab</a> where I am currently trying to solve partial differential equations using deep learning.</p>
   <p style="margin-top: -9px; text-align:justify;">I have been interested in deep learning since my sophomore year. For the past several months, I have been studying reinforcement learning, starting primarily with <a href="http://rail.eecs.berkeley.edu/deeprlcourse/" target="_blank">UC Berkeley's Deep Reinforcement Learning course</a>. For now, I think that this is the field that I will be pursuing in the near future.</p>

   <br><br>
   
   <h2>Theses<hr></h2>
   <ul style="text-align:justify; margin-top:0px;">
	   <li><a href="{{site.baseurl}}{% post_url theses/2019-12-26-sp %}">Undergraduate: Urdu Handwriting Recognition Using Deep Learning</a></li>
   </ul>
 

   <h2>Some Online Courses That I Have Audited<hr></h2>
   <ul style="text-align:justify; margin-top:0px;">
	   <li>UC Berkeley's <a href="http://cs231n.stanford.edu/2017/" target="_blank">CS294-112: Deep Reinforcement Learning</a> by Sergey Levine. See my <a href="https://github.com/shehryar-malik/UC-Berkeley-CS294-DeepRL" target="_blank">solutions</a> for the assignments and <a href="{{site.baseurl}}{% post_url blog/machine-learning/cs294-notes/2019-05-11-cs294%}" target="_blank">notes</a> for the course.</li>
	   
	   <li>Stanford's <a href="http://cs224n.stanford.edu/" target="_blank">CS224n: NLP with Deep Learning</a> by Christopher D. Manning and Richard Socher. <a href="https://github.com/shehryar-malik/Stanford-CS224-NLP-with-Deep-Learning" target="_blank">Here</a> are my solutions to its assignments.</li>
	   
	   <li>Stanford's <a href="http://cs231n.stanford.edu/2017/" target="_blank">CS231n: CNNs for Visual Recognition</a> by Fei-Fei Li, Justin Johnson and Serena Yeung. <a href="https://github.com/shehryar-malik/Stanford-CS231n-CNNs-for-Visual-Recognition" target="_blank">Here</a> are my solutions to its assignments.</li>
	   
	   <li>Stanford's <a href="https://see.stanford.edu/Course/CS229" target="_blank">CS229: Machine Learning</a> by Andrew Ng. <a href="{{site.baseurl}}{% post_url blog/machine-learning/cs229-notes/2018-08-10-cs229 %}" target="_blank">Here</a> are my notes for the course.</li>

	   <li>MIT's <a href="https://ocw.mit.edu/courses/electrical-engineering-and-computer-science/6-034-artificial-intelligence-fall-2010/" target="_blank">6.034: Artificial Intelligence</a> by Patrick H. Winston. <a href="https://github.com/shehryar-malik/MIT-6.034-Artificial-Intelligence" target="_blank">Here</a> are my solutions to its assignments.</li>
   </ul>
   
</div>
  
